body {
    background-image: url("station.jpg");
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

h1,
h2 {
    margin-top: 5%;
    color: #333;
    font-size: 24px;
}
#incrBtn,#saveBtn{
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    width: 130px;

}
#incrBtn{
    background-color: red;
    display: block;
   justify-self: center;
   margin: 1%;
}
#saveBtn{
    background-color: green;
}
#entries{
    margin:2%;
}
